body{
    background: white;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo{
    border-radius: 40%;
    width: 400px;

}

#title, .subtitle, .post_title {
    color: rgba(1, 1, 19, 0.048);
}

#title{
    font-size: 40px;
    text-transform: uppercase;

}

a{
    text-decoration: line-through;
    color: blueviolet;
 
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;

}

.post{
    background: white;
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-align: center;

}

.post_img{
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list{
    list-style-type: none;
    padding-left: 15px;

}

.contacts_list li a {
    text-decoration: none;

}